{% extends "base.html.twig" %}

{% block title %}Mediaff | Email Analysis{% endblock %}

{% block custcss %}

{% endblock %}

{% block body %}
    <div class="">
        <div class="row">
            <!-- form input mask -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'emailcampform'}}) }}
                                {{ form_widget(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custjs %}

{% endblock %}